@import url('https://fonts.googleapis.com/css2?family=Laila&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Laila', Arial, sans-serif;
  background-color: rgb(193, 218, 197);
  font-size: 1.1rem;
}

.container {
  margin: auto;
  max-width: 800px;
}

h1, h2 {
  color: #880094;
}

.apresentacao {
  text-align: center;
}

.apresentacao h1 {
  font-size: 3rem;
  text-shadow: 1px 1px 1px black;
}

.apresentacao img {
  margin: 1rem 0;
  width: 100%;
  border: 0.5rem solid #880094;
}

.historia {
  margin: 0 15px;
  text-align: justify;
}

.trajetoria_container {
  display: flex;
  justify-content: center;
}

.trajetoria {
  margin: 3rem 0;
  max-width: 600px;
}

.trajetoria_info {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  border-bottom: 1px solid #88009463;
}

.trajetoria img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border: 0.5rem solid #880094;
}

.trajetoria_img {
  flex: 1;
}

.trajetoria_desc {
  flex: 3;
  display: flex;
  align-items: center;
  margin: 0 1rem;
}

.referencias {
  margin-top: -1rem;
  text-align: center;
  margin-bottom: 1rem;
}

.referencias a {
  color: #880094;
  text-decoration: none;
  font-weight: bold;
}

.referencias a:hover {
  text-decoration: underline;
  color: green;
}

footer {
  padding: 1rem;
  font-size: 0.9rem;
  text-align: center;
  font-weight: bold;
}

footer div {
  
}